.header{
  flex: 0 0 auto;
}

.main-content{
  flex: 1 0 auto;
}

.footer{
  flex: 0 0 auto;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-con{
  width: 18rem;
}

.form-signin{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}